<nav>
    <div class="nav-container">
        <div data-aos="fade-right" data-aos-duration="1200"   class="logo">Agency</div>
        <div  data-aos="fade-left" data-aos-duration="1200"  class="navigation-bar">
            <p>Overview</p>
            <div></div>
            <p>Design</p>
            <div></div>
            <p>Development</p>
            <div></div>
            <p>Community</p>







        </div>


        <div class="mobile-menu">
            <!-- mobile-nav.component.html -->
            <div class="burger-btn" (click)="toggleNav()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <div class="mobile-nav" [class.open]="isNavOpen" (click)="closeNav()">
                <div class="nav-content" (click)="$event.stopPropagation()">
                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


        

    </div>




    <div class="nav-down-content">

        <div class="left-side">
            <p data-aos="fade-down" data-aos-duration="1200" data-aos-delay="600"  class="we">We make your website a hero</p>

            <div class="left-side-end">
                <div data-aos="fade-down" data-aos-duration="1200" data-aos-delay="800" class="pointer">

                    <svg width="18" height="224" viewBox="0 0 18 224" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="8" width="2" height="222" fill="#FFC93F" />
                        <path d="M17 215L9 223L1 215" stroke="#FFC93F" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>


                </div>
                <div class="texts">

                    <p data-aos="fade-down" data-aos-duration="1200" data-aos-delay="1000" class="big-text"> <span class="agency">Agency</span> is a <span class="digital-agency">digital
                            agency,</span> that offers full <span class="design">design</span> and <span
                            class="software-services">software services</span>. Our team is always ready
                        for give life to <span class="your-ideas">your ideas</span>.



                        <span class="symbols">

                            <svg data-aos="fade-right" data-aos-duration="1200" data-aos-delay="1000" width="17" height="17" viewBox="0 0 17 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8.5" cy="8.5" r="8.5" fill="#FFC93F" />
                            </svg>


                            <svg data-aos="fade-right" data-aos-duration="1200" data-aos-delay="1200" width="19" height="17" viewBox="0 0 19 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 0L13.1562 8.81481L19 17L9.49965 15.7407L0 17L5.8431 8.81481L9.5 0Z"
                                    fill="#F77D26" />
                            </svg>


                            <svg data-aos="fade-right" data-aos-duration="1200" data-aos-delay="1400" width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 8.36694L4.68322 4.6166L8.78188 -1.02889e-05L12.2731 4.7089L17.1488 8.78187L12.1808 12.2987L8.36695 17.1488L4.59092 12.2064L0 8.36694Z"
                                    fill="#9FFF3F" />
                            </svg>

                        </span>


                    </p>

                    <p data-aos="fade-up    " data-aos-duration="1200" data-aos-delay="1000" class="services">Services</p>
                </div>
            </div>
        </div>

        <div class="right-side">

            <div data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="1200" class="image-background">


                <div class="upper-content">
                    <svg  data-aos="fade-right" data-aos-duration="1200" data-aos-delay="1500"  width="78" height="5" viewBox="0 0 78 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="77.8889" height="5" rx="2.5" fill="white" />
                    </svg>



                    <svg data-aos="fade-right" data-aos-duration="1200" data-aos-delay="1800" width="91" height="5" viewBox="0 0 91 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="90.3333" height="5" rx="2.5" fill="white" fill-opacity="0.2" />
                        <rect width="65.1442" height="5" rx="2.5" fill="white" />
                    </svg>


                    <svg data-aos="fade-left" data-aos-duration="1200" data-aos-delay="2100" width="78" height="5" viewBox="0 0 78 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="77.8889" height="5" rx="2.5" fill="white" fill-opacity="0.2" />
                    </svg>
                    <svg data-aos="fade-left" data-aos-duration="1200" data-aos-delay="2400" width="78" height="5" viewBox="0 0 78 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="77.8889" height="5" rx="2.5" fill="white" fill-opacity="0.2" />
                    </svg>



                </div>

                <div class="arrows">

                    <svg   class="left-arrow" width="24" height="36" viewBox="0 0 24 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.50001 26.5L16.5 18L7.50001 9.5" stroke="white" stroke-width="3"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <svg  class="right-arrow" width="24" height="36" viewBox="0 0 24 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.50001 26.5L16.5 18L7.50001 9.5" stroke="white" stroke-width="3"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>



                </div>

            </div>

            <button data-aos="zoom-in-down" data-aos-duration="1200" data-aos-delay="1500" class="get-in-touch">Get In Touch <svg width="216" height="21" viewBox="0 0 216 21" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.500001" y="11.1213" width="1.99999" height="212" transform="rotate(-90 0.500001 11.1213)"
                        fill="black" stroke="black" />
                    <path d="M206 2.12134L214 10.1213L206 18.1213" stroke="black" stroke-width="3"
                        stroke-linecap="square" stroke-linejoin="round" />
                </svg>
            </button>


        </div>

    </div>


    

</nav>


