* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
  


}

button {
  cursor: pointer;
}

/* Bold */
@font-face {
  font-family: 'Clash Display';
  src: url('/assets/fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/assets/fonts/ClashDisplay-Extralight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/assets/fonts/ClashDisplay-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/assets/fonts/ClashDisplay-Medium.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/assets/fonts/ClashDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
}
